<div class='card text-center mt-3'>
  <div class='card-header'>
    Name Writer Application
  </div>
  <div class='card-body'>
    <form class='m-0' action='/' method='POST'>
      <div class='mb-3'>
        <label class='form-label' for='nameInput'>Enter your name</label>
        <input class='form-control' id='nameInput' type='text' name='name' placeholder='Your name' />
      </div>
      <input class='btn btn-primary' type='submit' value='submit' />
    </form>
  </div>
  <div class='card-footer text-body-secondary'>
    Suhrobbek Soatov
  </div>
</div>